<mat-card>
  <mat-card-header>
    <mat-card-title>Create VM</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-error class="center" *ngIf="error">
      Error
    </mat-error>
    <form #f="ngForm" (ngSubmit)="create(f)">
      <mat-form-field class="position">
        <mat-label>Number of V-CPU</mat-label>
        <input matInput type="text" #vcpu="ngModel" ngModel required placeholder="Number of V-CPU" name="vcpu" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="position">
        <mat-label>RAM</mat-label>
        <input matInput type="text" #ram="ngModel" ngModel required placeholder="RAM" name="ram" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="position">
        <mat-label>Disk</mat-label>
        <input matInput type="text" #disk="ngModel" ngModel required placeholder="Disk" name="disk" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="position">
        <mat-label>Maximum number VMs</mat-label>
        <input matInput type="number" #maxActiveVmSimultaneously="ngModel" ngModel required name="maxActiveVmSimultaneously" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="position">
        <mat-label>Maximum number of simultaneously active VMs</mat-label>
        <input matInput type="number" #maxVm="ngModel" ngModel required name="maxVm" value="">
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button mat-button [disabled]="!f.valid" mat-raised-button color="primary">Create</button>
        <button [routerLink]="['/teacher']" mat-button mat-dialog-close>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
