<div *ngIf="corso.name.length > 0" class="container">
  <div class="d-flex align-items-center">
    <app-insert (add)="addStudent($event)" [options]="students" class="w-50"></app-insert>
    <span class="fill-remaining-space"></span>
    <div class="d-flex align-items-center">
      <mat-icon class="mr-20 cursor-default" matTooltip="Choose CSV file with students' list" matTooltipPosition="left">
        info
      </mat-icon>
      <button (click)="fileInput.click()" mat-raised-button type="button">Choose File</button>
      <input #fileInput (change)="handleFileSelect($event)" accept=".csv" hidden id="file" type="file">
      <button (click)="sendFile()" [disabled]="fileAbsent" class="ml-20" color="primary" mat-raised-button>Upload
      </button>
    </div>
  </div>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <h1>Enrolled students:</h1>
  <app-table (delete)="deleteStudent($event)" [columns]="columns" [data]="data" [showDelete]="true"></app-table>
  <mat-divider class="mt-30 mb-20"></mat-divider>
  <h1 class="mt-10">Teams:</h1>
  <app-table *ngIf="existTeam" [columns]="columnsTeam" [data]="teams" (show)="showStudentsInTeam($event)" [showDetails]="true" [showCheckbox]="true" (delete)="deleteTeam($event)"></app-table>
  <p *ngIf="!existTeam">Nessun team ancora creato</p>
</div>
