<app-logged-header (toggleMenu)="toggleMenu()"></app-logged-header>
<mat-toolbar>
  {{singoloCorso ? singoloCorso.name : 'Non sono presenti corsi'}}
  <span class="fill-remaining-space"></span>
  <button (click)="manageCourses()" color="primary" mat-raised-button routerLink="/teacher/courses">Manage Courses
  </button>
</mat-toolbar>
<mat-sidenav-container *ngIf="singoloCorso">
  <mat-sidenav mode="side" opened position>
    <div>
      <mat-nav-list>
        <mat-list-item (click)="navigateToCorso(corso)" *ngFor="let corso of corsi">
          {{corso.name}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="students">
        Students
      </a>
      <a mat-tab-link routerLink="vms">
        VMs
      </a>
      <a mat-tab-link routerLink="assignments">
        Assignments
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
