<div id="home">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
  </style>
  <app-logged-header></app-logged-header>
  <div style="margin-top: 900px; margin-left: 50px">
    <b>
      <h1 style=" font-size: 70px; margin-bottom:50px ; text-align: left ; font-family: 'Shadows Into Light', cursive;">Welcome to Teams</h1>
      <h1 style=" font-size: 50px; text-align: left ; font-family: 'Shadows Into Light', cursive;">the best app to manage university teams</h1>
    </b>
  </div>

</div>
