<mat-card class="example-card dimensioni">
  <h2>Manage homework</h2>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let a of assignments">{{a.timestamp}} - {{a.status}}</mat-list-item>
    </mat-list>
    <hr/>
    <mat-error class="mt-10-center" *ngIf="error">
      Error
    </mat-error>
    <form #f="ngForm" class="mt-10">
      <h2>Send correction</h2>
      <div class="mt-10 mb-10">
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose file</button>
        <input hidden (change)="handleFileSelect($event)" accept="application/pdf" #fileInput type="file" id="file">
      </div>
      <mat-radio-group aria-label="Select an option" name="last" (change)="showGrade($event)">
        <mat-radio-button value="0">Wait student revision</mat-radio-button>
        <mat-radio-button value="1">Final Correction</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="dialog-position-field mt-20" *ngIf="showInputGrade">
        <mat-label>Grade</mat-label>
        <input matInput type="number" #grade="ngModel" ngModel required placeholder="Grade" name="grade" value="">
      </mat-form-field>
      <br />
      <mat-card-actions class="mt-10">
        <button mat-button [disabled]="!f.valid || fileAbsent" mat-raised-button color="primary" (click)="send()">Send</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

