<table [dataSource]="dataSource" class="mat-elevation-z4 w-100" mat-table matSort>

  <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{col | titlecase}}</th>
    <td *matCellDef="let element" mat-cell> {{element[col]}} </td>
  </ng-container>

  <ng-container matColumnDef="power">
    <th *matHeaderCellDef mat-header-cell>
      Power
    </th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon (click)="powerOn(element)" *ngIf="element.status === 'poweroff'" class="cursor-pointer color-green">
        play_circle_outline
      </mat-icon>
      <mat-icon (click)="powerOff(element)" *ngIf="element.status === 'poweron'" class="cursor-pointer color-red">
        power_settings_new
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell>
      Delete
    </th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon (click)="delete(element)" class="cursor-pointer">delete_outline</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell>
      Modify
    </th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon (click)="edit($event, element)" class="cursor-pointer">edit</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsWithCheckbox" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columnsWithCheckbox;" mat-row></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z4 w-100" showFirstLastButtons></mat-paginator>
