<mat-card class="dimensioni">
  <mat-card-header>
    <mat-card-title>Create VM</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-error *ngIf="error" class="mt-10-center">
      Error
    </mat-error>
    <form #f="ngForm" (ngSubmit)="create(f)">
      <div class="dialog-position-field">
        <span>Dockerfile configuration</span>
        <button (click)="fileInput.click()" class="ml-20" mat-raised-button type="button">Choose file</button>
        <input #fileInput (change)="handleFileSelect($event)" hidden id="file" type="file">
      </div>
      <!--<br>
      <mat-form-field class="dialog-position-field">
        <mat-label>Number of V-CPU</mat-label>
        <input #vcpu="ngModel" matInput name="vcpu" ngModel placeholder="Number of V-CPU" required type="text" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="dialog-position-field">
        <mat-label>RAM</mat-label>
        <input #ram="ngModel" matInput name="ram" ngModel placeholder="RAM" required type="text" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="dialog-position-field">
        <mat-label>Disk</mat-label>
        <input #disk="ngModel" matInput name="disk" ngModel placeholder="Disk" required type="text" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="dialog-position-field">
        <mat-label>Maximum number of VMs</mat-label>
        <input #maxVm="ngModel" matInput name="maxVm" ngModel required type="number" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="dialog-position-field">
        <mat-label>Maximum number of simultaneously active VMs</mat-label>
        <input #maxActiveVmSimultaneously="ngModel" matInput name="maxActiveVmSimultaneously" ngModel required
               type="number" value="">
      </mat-form-field>-->
      <br>
      <mat-card-actions>
        <button [disabled]="!f.valid" color="primary" mat-button mat-raised-button>Create</button>
        <button (click)="closeDialog()" mat-button mat-dialog-close>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
