<div class="dimensioni">
  <mat-card-title>Edit VM Limits</mat-card-title>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <mat-error *ngIf="error" class="mt-10-center">
    Error
  </mat-error>
  <form #f="ngForm" (ngSubmit)="modify(f)">
    <br>
    <mat-form-field class="dialog-position-field">
      <mat-label>Number of V-CPU</mat-label>
      <input #vcpu="ngModel" matInput name="vcpu" ngModel [ngModel]="group.limit_cpu" placeholder="Number of V-CPU" required type="text" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="dialog-position-field">
      <mat-label>RAM (size in MB)</mat-label>
      <input #ram="ngModel" matInput name="ram" ngModel [ngModel]="group.limit_ram" placeholder="RAM" required type="text" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="dialog-position-field">
      <mat-label>Disk (size in MB)</mat-label>
      <input #disk="ngModel" matInput name="disk" ngModel [ngModel]="group.limit_hdd" placeholder="Disk" required type="text" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="dialog-position-field">
      <mat-label>Maximum number of VMs</mat-label>
      <input #maxVm="ngModel" matInput name="maxVm" ngModel [ngModel]="group.limit_instance" required type="number" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="dialog-position-field">
      <mat-label>Maximum number of simultaneously active VMs</mat-label>
      <input #maxActiveVmSimultaneously="ngModel" matInput name="maxActiveVmSimultaneously" ngModel [ngModel]="group.limit_active_instance" required
             type="number" value="">
    </mat-form-field>
    <br>
    <mat-card-actions class="float-right">
      <button [disabled]="!f.valid" class="mr-20" color="primary" mat-button mat-raised-button>{{nameButton}}</button>
      <button [routerLink]="['/teacher']" mat-button mat-dialog-close>Cancel</button>
    </mat-card-actions>
  </form>
</div>
