<app-logged-header (toggleMenu)="toggleMenu()"></app-logged-header>
<mat-toolbar>
  {{singoloCorso ? singoloCorso.name + " - Professor(s): " + professorsList : 'No courses available yet.'}}
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<mat-sidenav-container *ngIf="singoloCorso !== undefined">
  <mat-sidenav mode="side" opened position>
    <div class="container">
      <mat-nav-list>
        <mat-list-item (click)="navigateToCorso(corso)" *ngFor="let corso of corsi">
          {{corso.name}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="groups">
        Groups
      </a>
      <a mat-tab-link routerLink="vms">
        VMs
      </a>
      <a mat-tab-link routerLink="assignments">
        Assignments
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

