<div class="container">
  <div class="d-flex align-items-center">
    <h2  class="mb-10 mr-20">Create assignment:</h2>
    <button (click)="createAssignment($event)" class="ml-20 mb-10" color="primary" mat-raised-button>Create Assignment </button>
  </div>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <h1 *ngIf="show" >Assignments of the course:</h1>
  <mat-accordion *ngIf="show">
    <mat-expansion-panel *ngFor="let consegna of consegne" class="mb-20" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            {{consegna.content}} - Released at {{consegna.releaseString}} - Expires at {{consegna.expiryString}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button (click)="handleShowSubmission(consegna.id)" class="float-right" mat-raised-button type="button">Show submission</button>
      <app-table-filter (edit)="edit($event)" [columns]="columnsElaborati" [data]="consegna.elaborati"
                        filterColumn="status"></app-table-filter>
    </mat-expansion-panel>
  </mat-accordion>
</div>
