<div *ngIf="corso.name.length > 0" class="container">
  <div class="d-flex align-items-center">
    <h2  class="mb-10 mr-20">Create assignment</h2>
    <button (click)="createAssignment($event)" class="ml-20 mb-10" color="primary" mat-raised-button>Create Assignment </button>
  </div>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <p *ngIf="!show">There are no assignments yet.</p>
  <h1 *ngIf="show" >Assignments of course</h1>
  <mat-accordion *ngIf="show">
    <mat-expansion-panel *ngFor="let consegna of consegne" class="mb-20 w-80" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            {{consegna.content}} - Released at {{consegna.releaseString}} - Expires at {{consegna.expiryString}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button (click)="handleShowSubmission(consegna.id)" class="float-right" mat-stroked-button color="primary" type="button">Show submission</button>
      <app-table-filter (showHistory)="showHistory($event)" [submission]="consegna" [columns]="columnsElaborati" [data]="consegna.elaborati"
                        (evaluateSolution)="evaluateSolution($event)" (reviewSolution)="reviewSolution($event)" filterColumn="status"></app-table-filter>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="loader-container" *ngIf="loaderDisplayed">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
