<div class="w-70 container">
  <div class="text-right">
    <button (click)="createAssignment($event)" class="mb-10" color="primary" mat-raised-button>Create Assignment
    </button>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let consegna of consegne">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            {{consegna.content}} - Released at {{consegna.releaseString}} - Expires at {{consegna.expiryString}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button (click)="handleShowSubmission(consegna.id)" class="float-right" mat-raised-button type="button">Show submission</button>
      <app-table-filter (edit)="edit($event)" [columns]="columnsElaborati" [data]="consegna.elaborati"
                        filterColumn="status"></app-table-filter>
    </mat-expansion-panel>
  </mat-accordion>
</div>
