<div *ngIf="corso.name.length > 0" class="container">
  <div class="d-flex align-items-center">
    <h2 *ngIf="!hasVMType" class="mb-10 mr-20">Set VM Type</h2>
    <h2 *ngIf="hasVMType" class="mb-10 mr-20">VM Type already setted</h2>
    <button *ngIf="!hasVMType" (click)="createVM()" class="mb-10 ml-20" color="primary" mat-raised-button>+ Create VM Type</button>
  </div>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <div *ngIf="hasVMType">
    <h1>List of active VMs of teams in this course</h1>
    <app-table-expandable (edit)="modifyGroup($event)" [columns]="groupsColumns" [data]="groupsData"
                          [innerColumns]="innerGroupColumns" [showEdit]="true" [showStatistics]="true" (statistics)="showStatistics($event)"></app-table-expandable>
  </div>
</div>
