<app-logged-header></app-logged-header>

<div class="container text-center">
  <h1>Registration</h1>
  <mat-card-content>
    <mat-error *ngIf="errorPw" class="mb-20">
      Error. Different password
    </mat-error>
    <mat-error *ngIf="notValidDomain" class="mb-20">
      You must have an email that belongs to university domain (eg. @polito.it)
    </mat-error>
    <form #f="ngForm" (ngSubmit)="register(f)" class="registration-form">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input #name="ngModel" matInput name="name" ngModel placeholder="Name" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Surname</mat-label>
        <input #surname="ngModel" matInput name="surname" ngModel placeholder="Surname" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Matricola</mat-label>
        <input #matricola="ngModel" matInput name="matricola" ngModel placeholder="Matricola" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input #password="ngModel" matInput name="password" ngModel placeholder="Password" required type="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Confirm password</mat-label>
        <input #confirm_password="ngModel" matInput name="confirm_password" ngModel placeholder="Confirm Password"
               required type="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input #email="ngModel" email matInput name="email" ngModel placeholder="Mail" required type="email">
      </mat-form-field>
      <button [disabled]="!f.valid" color="primary" mat-raised-button>REGISTER</button>
    </form>
  </mat-card-content>
</div>
