<mat-form-field class="w-50">
  <input (keyup)="applyFilter($event)" matInput placeholder="Filter by status">
</mat-form-field>

<table [dataSource]="dataSource" class="mat-elevation-z4 w-100" mat-table matSort>

  <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{col | titlecase}}</th>
    <td *matCellDef="let element" mat-cell> {{element[col]}} </td>
  </ng-container>

  <!-- 'evaluate', 'evaluation', 'solution', 'review' -->
<!--  DISATTIVARE EVALUATE se lo stato è READ, NOT_READ-->

  <ng-container matColumnDef="creationDate">
    <th *matHeaderCellDef mat-header-cell mat-sort-header >
      Creation Date
    </th>
    <td *matCellDef="let element" mat-cell > {{element['creationDate'] | date:'HH:mm d/M/y'}} </td>
  </ng-container>

  <ng-container matColumnDef="evaluate" >
    <th *matHeaderCellDef mat-header-cell class="text-center" >
      Evaluate
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <button (click)="evaluateSolution.emit(element);" style="width: 140px; text-align: center" mat-stroked-button color="primary" [disabled]="element.status === 'READ' || element.status === 'NOT_READ'">
        {{element.evaluation==null ? 'Evaluate Solution' : 'Change Mark'}}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="evaluation">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Mark
    </th>
    <td *matCellDef="let element" mat-cell class="text-center"> {{element['evaluation']!= null ? element['evaluation'] : "N/A" }} </td>
  </ng-container>

  <ng-container matColumnDef="showSolution">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Show
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-icon (click)="showSolution(element)" class="cursor-pointer" *ngIf="element.status !== 'READ' && element.status !== 'NOT_READ'">post_add</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="stopRevision">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Stop
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-icon (click)="stopRevision(element)" *ngIf="element.evaluation == null && element.revisable == true" class="cursor-pointer color-red">block</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="reviewSolution">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Review
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-icon (click)="reviewSolution.emit(element)" class="cursor-pointer color-green" *ngIf="element.status !== 'READ' && element.status !== 'NOT_READ' && element.evaluation==null">done_all</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      History
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-icon (click)="showHistory(element.matricola)" class="cursor-pointer">edit</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsWithEdit" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columnsWithEdit;" mat-row></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z4" showFirstLastButtons></mat-paginator>
