<table #outerSort="matSort" [dataSource]="dataSource" class="mat-elevation-z8 w-100" mat-table matSort
       multiTemplateDataRows>
  <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> {{column}} </th>
    <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td *matCellDef="let element" [attr.colspan]="columnsWithEdit.length" mat-cell>
      <div *ngIf="element.nestedData?.data.length" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
           class="example-element-detail">
        <div *ngIf="expandedElement" class="inner-table mat-elevation-z8">
          <table #innerSort="matSort" #innerTables [dataSource]="element.nestedData" class="w-100" mat-table matSort>
            <ng-container *ngFor="let innerColumn of innerDisplayedColumns" matColumnDef="{{innerColumn}}">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> {{innerColumn}} </th>
              <td *matCellDef="let element" mat-cell>
                <span *ngIf="innerColumn != 'accessLink'">{{element[innerColumn]}}</span>
                <a *ngIf="innerColumn == 'accessLink'" href="{{element[innerColumn]}}" target="_blank">{{element[innerColumn]}}</a>
              </td>
            </ng-container>
            <tr *matHeaderRowDef="innerDisplayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: innerDisplayedColumns;" mat-row></tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container *ngIf="showStatistics" matColumnDef="statistics">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Usage Statistics
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-icon (click)="statistics($event, element)" class="cursor-pointer">insert_chart</mat-icon>
    </td>
  </ng-container>

  <ng-container *ngIf="showEdit" matColumnDef="modify">
    <th *matHeaderCellDef mat-header-cell>
      Modify
    </th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon (click)="editGroup($event, element)" class="cursor-pointer">edit</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th *matHeaderCellDef mat-header-cell>
      Expand
    </th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon class="cursor-pointer">keyboard_arrow_down</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsWithEdit" mat-header-row></tr>
  <tr (click)="toggleRow(element)" *matRowDef="let element; columns: columnsWithEdit;"
      [class.example-element-row]="element.nestedData?.data.length"
      [class.example-expanded-row]="expandedElement === element" mat-row>
  </tr>
  <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z4 w-100" showFirstLastButtons></mat-paginator>
