<form class="mleft20">
  <mat-form-field class="text-input w-70">
    <input #autocomplete [formControl]="formControl" [matAutocomplete]="auto" matInput placeholder="Add" type="text">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.firstName + " " + option.name + " " + option.id}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="add()" class="ml-20" color="primary" mat-raised-button>Add</button>
</form>
