<div class="container">
  <div class="d-flex align-items-center">

  <h2 class="mb-10 mr-20" *ngIf="!canCreateVM">You need to create a group first.</h2>
  <h2 class="mb-10 mr-20" *ngIf="canCreateVM">Management option: </h2>
  <button class="mb-10 ml-20 float-right" *ngIf="canCreateVM" (click)="createVM()"  color="primary" mat-raised-button>Create VM</button>

  </div>

  <mat-divider class="mt-10 mb-20"></mat-divider>
  <h2 class="mb-10 mr-20">Team VMs: </h2>

  <app-vms-table (delete)="deleteVm($event)" (edit)="editVM($event)" (modifyOwner)="modifyOwnerVM($event)" (addOwner)="addOwnerVM($event)" [columns]="columns" [data]="data"></app-vms-table>
</div>
