<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">

    <link href="/media/style.css" rel="stylesheet">


</head>
<body>
<div id="container" style="width:100%;">
    <form class="form" style="align-items: center">
        <ul class="tab-group">
            <h2 id="message" style="white-space: pre;" th:text="${message}"></h2>
        </ul>
    </form>
</div>
</body>
</html>