<div class="w-80 container">
  <p *ngIf="!hasConsegne">There are no assignments available for this course.</p>
  <h2 *ngIf="hasConsegne" class="mb-10 mr-20">Assignments</h2>
  <mat-divider *ngIf="hasConsegne" class="mt-10 mb-20"></mat-divider>
  <mat-accordion>
    <mat-expansion-panel class="mb-20" #expansionPanel *ngFor="let consegna of consegne">
      <mat-expansion-panel-header>
        <mat-panel-title style="margin-top: 9px !important;">
          <b>{{consegna.content}}</b> &nbsp; - Expiry date: {{consegna.expiryString}} - Release date: {{consegna.releaseString}}
        </mat-panel-title>
        <mat-panel-description>
          <button (click)="handleShowSubmission(consegna.id, $event)" class="submissionButton" mat-stroked-button color="primary" type="button">Show submission</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <input #fileInput (change)="handleFileSelect($event, consegna.id)" hidden accept="application/pdf" id="file" type="file">

      <div *ngIf="consegna.isRevisable">
        <button (click)="fileInput.click()"  mat-raised-button type="button">{{filenames[consegna.id]}}</button>
        <button (click)="uploadSolution(consegna.id)" class="ml-10" color="primary" mat-button mat-raised-button>Upload solution</button>
      </div>

      <mat-divider class="mt-10 mb-20"></mat-divider>

      <h2>History</h2>
      <p *ngIf="consegna.history.length < 1">No history available.</p>
      <mat-list>
        <mat-list-item *ngFor="let solution of consegna.history ">
          Version: {{solution.version}} - Status: {{solution.status}} - Date: {{solution.creationDate | date:'HH:mm d/M/y'}}
          <a mat-stroked-button (click)="handleShowSolution(solution.id)" class="ml-20">Show solution</a>
          <div *ngIf="solution.evaluation!=null" class="ml-20">
            <b> Mark: {{solution.evaluation}}</b>
            <i style="margin-left: 5px">(31 = 30 cum laude)</i>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
