<mat-card class="example-card dimensioni">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-error *ngIf="error" class="mt-10-center">
      Credenziali errate
    </mat-error>
    <form #f="ngForm" (ngSubmit)="login(f)" class="login-form">
      <mat-form-field class="dialog-position-field">
        <mat-label>Email</mat-label>
        <input #email="ngModel" email matInput name="email" ngModel placeholder="Email" required type="email" value="">
        <mat-error *ngIf="email.invalid">
          Email non valida
        </mat-error>
        <mat-error *ngIf="email.dirty && email.touched">
          Email obbligatoria
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="dialog-position-field">
        <mat-label>Password</mat-label>
        <input #password="ngModel" matInput name="password" ngModel required type="password" value="">
        <mat-error *ngIf="password.dirty && password.touched">
          Password obbligatoria
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button [disabled]="!f.valid" color="primary" mat-button mat-raised-button type="submit">Login</button>
        <button [routerLink]="['/home']" mat-button mat-dialog-close>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
