<app-logged-header></app-logged-header>
<mat-toolbar>
  <button mat-raised-button [routerLink]="url" class="mr-20" *ngIf="data.length > 0"><mat-icon>arrow_back</mat-icon></button>
  Courses
</mat-toolbar>
<div class="container">
  <div class="w-80">
    <button mat-raised-button color="primary" class="mleft20 float-right mt-10" [routerLink]="['/teacher/courses']" [queryParams]="{doCreate: 'true'}">+ Add</button>
  </div>
  <app-table [showDelete]="true" [data]="data" [columns]="columns" (delete)="deleteCourse($event)" [showEdit]="true" (edit)="editCourse($event)" [showChangeStatus]="true"></app-table>
</div>
