<app-logged-header></app-logged-header>
<mat-toolbar>
  <button *ngIf="data.length > 0" [routerLink]="url" class="mr-20" mat-raised-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  Courses
</mat-toolbar>
<div class="container">
  <div class="w-80">
    <button [queryParams]="{doCreate: 'true'}" [routerLink]="['/teacher/courses']" class="mleft20 float-right mt-10"
            color="primary" mat-raised-button>+ Add
    </button>
  </div>
  <app-table (changeActive)="changeActive($event)" (delete)="deleteCourse($event)" (edit)="editCourse($event)" [columns]="columns"
             [data]="data" [showChangeStatus]="true" [showDelete]="true"
             [showEdit]="true"></app-table>
</div>
