/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fill-remaining-space {flex: 1 1 auto;}
.pointer {cursor: pointer;}
.mb-0 {margin-bottom: 0 !important;}
mat-sidenav-container{ margin: 20px;height: 100%; }
.container {
  margin: 18px 18px;
}

.full-width {width: 100%;}
.text-center {text-align: center;}
.margin-auto {margin: 0 auto;}
.float-right {float: right;}
.float-left {float: left;}
.w-80 {width: 80%;}
.mb-10 {margin-bottom: 10px !important;}
.mt-10 {margin-top: 10px !important;}
.mr-20 {margin-right: 20px !important;}
.cursor-pointer {cursor: pointer;}
