/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fill-remaining-space {flex: 1 1 auto;}
.pointer {cursor: pointer;}
.mb-0 {margin-bottom: 0 !important;}
mat-sidenav-container{ margin: 0px; height: calc(100% - 128px); }
.container {margin: 18px 18px;}
.d-flex {display: flex;}
.align-items-center {align-items: center;}
.full-width {width: 100%;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.margin-auto {margin: 0 auto;}
.float-right {float: right;}
.float-left {float: left;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.w-100 {width: 100%;}
.mb-10 {margin-bottom: 10px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mr-20 {margin-right: 20px !important;}
.ml-20 {margin-left: 20px !important;}
.ml-10 {margin-left: 10px !important;}
.w-500 {width: 500px;}
.cursor-pointer {cursor: pointer;}
.cursor-default{cursor: default;}
.dialog-position-field{width: 90%;margin-bottom: 15px;}
.mt-10-center{margin-top: 10px;text-align: center;}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
