<mat-card class="example-card dimensioni">
  <mat-card-header>
    <mat-card-title>Create Assignment</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-error class="mt-10-center" *ngIf="error">
      ERROR
    </mat-error>
    <form #f="ngForm" class="login-form" (ngSubmit)="createAssignment(f)">

      <mat-form-field class="w-100">
        <mat-label>Release Date</mat-label>
        <input matInput [min]="minDate" [max]="" [matDatepicker]="releasePicker" (dateChange)="releaseChoseValue($event)" required ngModel name="releaseDate">
        <mat-datepicker-toggle matSuffix [for]="releasePicker"></mat-datepicker-toggle>
        <mat-datepicker #releasePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Expiry Date</mat-label>
        <input matInput [min]="minExpiryDate" [matDatepicker]="expiryPicker" (dateChange)="expiryChoseValue($event)" [disabled]="!canChoseExpiryDate" required ngModel name="expiryDate">
        <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
        <mat-datepicker #expiryPicker></mat-datepicker>
      </mat-form-field>

      <div class="dialog-position-field">
        <span>Assignment Content</span>
        <button class="ml-20" type="button" mat-raised-button (click)="fileInput.click()">Choose file</button>
        <input hidden (change)="handleFileSelect($event)" accept="image/jpeg,image/png,application/pdf" #fileInput type="file" id="file">
      </div>

      <mat-error class="mt-10" *ngIf="chosenExpiryDate < chosenReleaseDate && !errorExpiryDate">
        Expiry date must be > than release date
      </mat-error>

      <mat-card-actions>
        <button mat-button [disabled]="!f.valid" mat-raised-button color="primary" type="submit">Create</button>
        <button (click)="closeDialog()" mat-button mat-dialog-close>Cancel</button>
      </mat-card-actions>

    </form>
  </mat-card-content>
</mat-card>
