<div class="dimensioni">
  <mat-card-title>Add Course</mat-card-title>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <mat-error *ngIf="error" class="mt-10-center">
    Error
  </mat-error>
  <form #f="ngForm" (ngSubmit)="createCourse(f)" class="login-form">
    <mat-form-field class="dialog-position-field">
      <mat-label>Name</mat-label>
      <input #name="ngModel" matInput name="name" ngModel placeholder="Name" required type="text" value="">
    </mat-form-field>
    <mat-form-field class="dialog-position-field">
      <mat-label>Identifier</mat-label>
      <input #identifier="ngModel" matInput name="identifier" ngModel placeholder="Identifier" required type="text"
             value="">
    </mat-form-field>
    <mat-form-field class="dialog-position-field">
      <mat-label>Min group size</mat-label>
      <input #min="ngModel" matInput min="1" name="min" ngModel placeholder="Min group size" required type="number"
             value="">
    </mat-form-field>
    <mat-form-field class="dialog-position-field">
      <mat-label>Max group size</mat-label>
      <input #max="ngModel" matInput min="1" name="max" ngModel placeholder="Max group size" required type="number"
             value="">
    </mat-form-field>
    <br>
    <mat-card-actions>
      <button [disabled]="!f.valid" color="primary" mat-button mat-raised-button>Create</button>
      <button [routerLink]="['/teacher/courses']" mat-button mat-dialog-close>Cancel</button>
    </mat-card-actions>
  </form>
</div>

