<button class="delete" type="submit" mat-button (click)="delete()" *ngIf="showDelete">Delete selected
  <mat-icon color="accent" style="font-size:16pt; padding-left:5px;">delete</mat-icon>
</button>
<table [dataSource]="dataSource" class="mat-elevation-z4 w-100" mat-table matSort>
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef mat-header-cell>
      <mat-checkbox (change)="changeStatusAll($event.checked)" [checked]="isAllChecked()"
                    [indeterminate]="isIndeterminated()"></mat-checkbox>
    </th>
    <td *matCellDef="let element" mat-cell>
      <mat-checkbox (change)="changeStatus(element)" [checked]="change(element)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{col | titlecase}}</th>
    <td *matCellDef="let element" mat-cell> {{element[col]}} </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Enable / Disable
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-checkbox (change)="enableDisable(element)" [checked]="isEnabled(element)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngIf="showEdit" matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell class="text-center">
      Modify
    </th>
    <td *matCellDef="let element" mat-cell class="text-center">
      <mat-icon (click)="edit($event, element)" class="cursor-pointer">edit</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsWithCheckbox" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columnsWithCheckbox;" mat-row></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z4 w-100" showFirstLastButtons></mat-paginator>
