<div>
  <p>In order to propose a group, you have to choose the students, a name and a timeout for your proposal.</p>
  <p>Constraint for this course ({{course.name}}):</p>
  <ul>
    <li>Minimum <b>{{course.min}}</b> student(s)</li>
    <li>Maximum <b>{{course.max}}</b> student(s)</li>
  </ul>
  <mat-error *ngIf="error" class="mb-10">{{message}}</mat-error>
  <app-table [(checkedObjects)]="selectedStudents" [columns]="studentsColumns" [data]="studentsData"
             [showDelete]="false"></app-table>
  <form #f="ngForm" (ngSubmit)="proposeGroup(f)" class="w-80 mt-10 text-right d-flex align-items-center">
    <mat-form-field class="mr-20">
      <mat-label>Group Name</mat-label>
      <input #name="ngModel" matInput name="name" ngModel required type="text" value="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proposal timeout</mat-label>
      <input #timeout="ngModel" matInput name="timeout" ngModel required type="number" value="">
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <button color="primary" mat-button mat-raised-button>Propose Group</button>
  </form>
</div>
<div class="mt-10">
  <p>Received group proposals</p>
  <app-table-expandable [columns]="groupsColumns" [data]="groupsData" [innerColumns]="innerGroupColumns"
                        [showEdit]="false"></app-table-expandable>
</div>
