<div>
  <p>In order to propose a group, you have to choose the students, a name and a timeout for your proposal.</p>
  <p>Constraint for this course ({{course.name}}):</p>
  <ul>
    <li>Minimum <b>{{course.min}}</b> student(s)</li>
    <li>Maximum <b>{{course.max}}</b> student(s)</li>
  </ul>
  <mat-error *ngIf="error" class="mb-10">{{message}}</mat-error>
  <app-table [(checkedObjects)]="selectedStudents" [columns]="studentsColumns" [data]="studentsData"
             [showDelete]="false"></app-table>
  <form #f="ngForm" (ngSubmit)="proposeGroup(f)" class="mt-10 text-right d-flex align-items-center">
    <mat-form-field class="mr-20">
      <mat-label>Group Name</mat-label>
      <input #name matInput name="name" ngModel required type="text" value="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proposal Timeout</mat-label>
      <input #date (dateChange)="timeoutChoseValue($event)" [matDatepicker]="proposalTimeout" [max]="maxDate" [min]="minDate"
             matInput name="proposalTimeout" ngModel required>
      <mat-datepicker-toggle [for]="proposalTimeout" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #proposalTimeout></mat-datepicker>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <button color="primary" mat-button mat-raised-button (click)="date.value = ''; name.value='' ">Propose Group</button>
  </form>
</div>
<div class="mt-10">
  <p>Received group proposals</p>
  <button *ngIf="this.groupsData.length > 0" class="mb-20 float-right" color="warn" mat-button mat-raised-button (click)="deleteAllProposal()">Delete All Proposals</button>
  <app-table-expandable *ngIf="this.groupsData.length > 0" [columns]="groupsColumns" [data]="groupsData" [innerColumns]="innerGroupColumns"
                        [showEdit]="false"></app-table-expandable>
</div>
<div class="loader-container" *ngIf="loaderDisplayed">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
