<div class="dimensioni">
  <mat-card-title>Removing professors</mat-card-title>
  <mat-divider class="mt-10 mb-20"></mat-divider>
  <mat-error *ngIf="error" class="mt-10-center">
    Error
  </mat-error>
  <app-table (delete)="deleteProfessor($event)" [columns]="columns"
             [data]="professors" [showChangeStatus]="true" [showDelete]="true"></app-table>
  <mat-card-actions class="float-right mt-20">
    <button (click)="closeDialog()" mat-button mat-dialog-close>Cancel</button>
  </mat-card-actions>
</div>

